.container {
    display: block;
    margin: auto;
    padding: 1%;
}


.item {
    display: block;
    background-color: whitesmoke;
    padding: 10px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
}

.item:hover {
  cursor:pointer;
  background-color: rgb(220, 220, 220);
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
  }
  
.grid {
  display: grid;
  grid-gap: 10px;
  /*grid-template-columns: repeat(6, 100px);*/
  /*grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));*/
  grid-template-columns: 1fr 1fr 1fr 1fr;
  }

.item-list {
    width: 35%;
    align-self: center;
  }
  

  /* On screens that are 992px wide or less, go from four columns to two columns */
  @media screen and (max-width: 992px) {

    .item-list {
      width: 55%;
    }

    .grid {
      grid-template-columns: 1fr 1fr 1fr;
      }
    
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {

    .item-list {
      width: 75%;
    }

    .grid {
      grid-template-columns: 1fr 1fr;
      }
  }