.container {
    display: block;
    margin: auto;
    padding: 1%;
}


.item {
    display: block;
    background-color: whitesmoke;
    padding: 10px;
    margin: 2px;
    text-align: center;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
  }
  
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
  }

.item-list {
    width: 25%;
    align-self: center;
  }
  
.item-grid {
    flex: 20%;
    max-width: 20%;
  }

  /* On screens that are 992px wide or less, go from four columns to two columns */
  @media screen and (max-width: 992px) {
    .item-grid {
      flex: 30%;
      max-width: 30%;
    }
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .item-grid {
        flex: 40%;
        max-width: 40%;
    }

    .item-list {
      width: 90%;
  }
  }